@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">If you have any questions, please do not hesitate to contact me. (Eak) 028277730...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
